body{
  padding: 0px;
  margin: 0px;
  color: white;
}

button {
  margin: auto;
  font-size: 2em;
  border-radius: .15em;
  text-align: center;
  min-height: 2em;
}

#content {
  position: absolute;
  top: 0px;
  left: 5%;
  right: 5%;
  bottom: 5%;
}

#baseControls button{
  width: 2em;
}

#configStreams button{
  width: 70%;
}

#volume{
  width: 65%;
  font-size: 2em;
}

#audioSourceName{
  text-align:center;
  font-size: 4em;
}

.hidden {
  display: none;
}

.streamButton{
  display: block;
}

/* layout stuff */

.box {
  display: flex;
}

.vbox {
  flex-direction: column;
  align-content: space-between;
}
.vbox > *{
  flex-grow:1;
}

.hbox {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.scroller {
  height: 100%;
  width: 100%;
  min-height: 0;
  overflow: auto;
}
